.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
